*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e5d3ad;
}

a{
    text-decoration: none;
}

section#articles{
    max-width: 1240px;
    margin: 4rem auto;/*4rem em cima e em baixo e nas laderais automático*/
    padding: 0 4rem; /*0 em cima e baixo e nas laterais de 4rem*/
    flex-direction: 46px;

}